.dashboard-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;

  grid-template-areas:
    "ring"
    "node-details"
    "devices-list"
    "device-details";

  .ring-cell {
    grid-area: ring;
  }

  .node-details-cell {
    grid-area: node-details;
  }

  .devices-list-cell {
    grid-area: devices-list;
  }

  .device-details-cell {
    grid-area: device-details;
  }

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "ring node-details"
      "devices-list device-details";
  }
}
